extends layout

block hero-unit
  .background
    .container
      br
      h1 온라인 설문지 디자인 서비스
      br
      br
      br
    .container
      .row
        .col-md-6
          h3 서비스 목적
          p 온라인 설문지 디자인 서비스를 제공합니다.
          br
    .container
      .row
        .col-md-6
          h3 주요 기능
          ul
            li 사용자 관리
            li 설문 디자인
            li 설문 수집
            li 설문 결과 Visualize
            br
            br
            
    .container
      .row
       .col-md-6
        a.btn.btn-success.btn-lg.btn-block(href='/posts') 설문지 만들기
            
block footer
  include ./includes/footer
